<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-page"><img src="assets/img/about_page/pill-bg-white.svg"> {{ carreer.name }} <img src="assets/img/about_page/pill-bg-white.svg"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">

<ion-content>

  <ion-card>
    <ion-item-group class="plan-group" *ngFor="let year of carreer.years">
      <ion-item-divider color="light">{{ year.name }}</ion-item-divider>
          <ion-item text-wrap *ngFor="let subject of year.subjects">
            {{ subject.name }}
          </ion-item>
    </ion-item-group>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="socialnet-padding" col-2>
        <button (click)="openRemediarFacebook()" ion-fab >
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button (click)="openRemediarTwitter()" ion-fab >
          <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button (click)="openRemediarInstagram()" ion-fab >
          <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        </button>
      </ion-col>
      <ion-col  col-2>
        <button (click)="openRemediarMail()" ion-fab >
          <ion-icon  ios="ios-mail" md="md-mail"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
