@import "theme/variables";

.tomson {
  background-image: url("../assets/img/remediar.png");
  background-position: center top;
  background-size: 100% auto;
}

.logo-index {
  margin: 15% 20% 15% 20%;
  background-color: transparent;
  width: 60%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.second-container {
  padding-left: 11%
}
.second-container div {
  width: 35% !important;
  margin-right: 3%;
}

.img-container-index {
  margin: 0% 10% 0% 12%;
  width: 80%;
  height: 25%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  a {
    text-decoration: none;
  }
  .img-div {
    width: 30%;
    float:left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 100%;
    color: map-get($colors, primary);
    text-align: center;
  }
  .img-div:active {
    opacity: .7;
  }
  .text-cardio {
    font-size: .85em;
  }
  .img-remediar {
    margin-bottom: 8%;
  }

  /*.letter-remediar {
    opacity: 1;
    color:black;
  }
  .button-back-remediar {
      background-image: url("../assets/img/remediar-pasti.png");
      opacity: .2;
      background-size:160%;
  }
  .button-index {
    border-radius: 35px;
    box-shadow: 2px 2px 2px #888888;
    width: 40%;
    margin: 4%;
    height: 80%;
  }*/
}

.buttons-footer-index {
  margin-right: 10%;
}

.title-footer {
  color:white;
  margin-left: 10%
}
