<!--
  Generated template for the SubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title ><img src="assets/img/about_page/pill-bg-white.svg"> Materia <img src="assets/img/about_page/pill-bg-white.svg"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ng-container *ngFor="let cathedra of subject.cathedras">
    <ion-card class="subject-list">

      <ion-list no-border>

        <ion-list-header class="subject-title">
          <h1>{{ subject.name }} {{ cathedra.name }}</h1>
          <span>Titular: {{ cathedra.professor }}</span>
        </ion-list-header>

        <ion-item text-wrap>
          <ion-avatar item-start>
            <ion-icon name='pin' item-start></ion-icon>
          </ion-avatar>
          <h2>Secretaría</h2>
          <p>Horario: {{ cathedra.sec_scheduler }} </p>
          <p>Ubicación: {{ cathedra.sec_location }}</p>
        </ion-item>

        <ion-item text-wrap>
          <ion-avatar item-start>
            <ion-icon name='contact' item-start></ion-icon>
          </ion-avatar>
          <h2>Contacto</h2>
          <h3>Secretario/a: {{ cathedra.contact_name }}</h3>
          <p>Email: {{ cathedra.contact_email}}</p>
          <p>Telefono: {{cathedra.contact_phone}}</p>
        </ion-item>

        <ion-item text-wrap *ngIf=" cathedra.tutorship_schedule != ''">
          <ion-avatar item-start>
            <ion-icon name='body' item-start></ion-icon>
          </ion-avatar>
          <h2>Horario consulta (tutorías)</h2>
          <h3>{{cathedra.tutorship_schedule}}</h3>
        </ion-item>

        <ion-item *ngIf=" (cathedra.environment != '') || (cathedra.sn_facebook != '') || (cathedra.sn_preparemos_fb != '')">
          <ion-avatar item-start>
            <ion-icon name='book' item-start></ion-icon>
          </ion-avatar>
          <span *ngIf=" cathedra.environment != ''">
            <div>
              <button (click)="openEnvironment(cathedra.environment)" ion-button color="primary">Entorno educativo</button>
              <span class="clave-entorno">{{cathedra.environment_keys}}</span>
            </div>
          </span>
          <p *ngIf=" cathedra.sn_facebook != ''">
            <button (click)="openPreparemos(cathedra.sn_facebook)" ion-button color="primary">Preparemos en facebook</button>
          </p>
          <p *ngIf=" cathedra.sn_preparemos_fb != ''">
            <button (click)="openApuntes(cathedra.sn_preparemos_fb)" ion-button color="primary">Apuntes digitalizados</button>
          </p>
        </ion-item>

        <ion-item *ngIf=" (cathedra.sn_cathedra_fb != '') || (cathedra.sn_web != '') || (cathedra.sn_twitter != '')">
          <ion-avatar item-start>
            <ion-icon name='chatboxes' item-start></ion-icon>
          </ion-avatar>
          <h2>Redes sociales cátedra</h2>
          <p *ngIf=" cathedra.sn_cathedra_fb != ''">
            <button (click)="openCathedraFacebook(cathedra.sn_cathedra_fb)" ion-button color="primary">Facebook</button>
          </p>
          <p *ngIf=" cathedra.sn_twitter != ''">
            <button (click)="openCathedraTwitter(cathedra.sn_twitter)" ion-button color="primary">Twitter</button>
          </p>
          <p *ngIf=" cathedra.sn_web != ''">
            <button (click)="openCathedraWeb(cathedra.sn_web)" ion-button color="primary">Web</button>
          </p>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="socialnet-padding" col-2>
        <button (click)="openRemediarFacebook()" ion-fab >
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button (click)="openRemediarTwitter()" ion-fab >
          <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button (click)="openRemediarInstagram()" ion-fab >
          <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        </button>
      </ion-col>
      <ion-col  col-2>
        <button (click)="openRemediarMail()" ion-fab >
          <ion-icon  ios="ios-mail" md="md-mail"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
