<!--
  Generated template for the CarreraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-page" ><img src="assets/img/about_page/pill-bg-white.svg"> {{ title }} <img src="assets/img/about_page/pill-bg-white.svg"></ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/img/carrer_page/{{carrera}}.png"/>

    <!--
    <ion-card-header class="carrer-title card-header md-primary">

    </ion-card-header>
  -->
    <ion-list class="button-list">

      <ng-template *ngIf="isEurhes;then eurhes; else medicina">
      </ng-template>

      <ng-template #medicina>
        <button (click)="pushPlanes()" ion-item>
          Información de cátedras y secretarías
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
        </button>
        <button (click)="openGuarani()" ion-item>
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
          Entorno Siu Guarani
        </button>
        <button (click)="openWebMed()" ion-item>
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
          Pagina web principal
        </button>
      </ng-template>
      <ng-template #eurhes>
        <button (click)="pushPlanesEurhes()" ion-item>
          Plan de estudios
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
        </button>
        <button (click)="openGuaraniEurhes()" ion-item>
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
          Entorno Siu Guarani
        </button>
        <button (click)="openWebEurhes()" ion-item>
          <ion-icon name="ios-arrow-dropright-outline" item-start></ion-icon>
          Pagina web principal
        </button>
      </ng-template>

    </ion-list>
  </ion-card>

  <ion-card>
    <div *ngIf="isEurhes" class="div-coordinadora" ion-item>
      <label class="label-coordinadora">Cordinaciones de carrera</label>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name='contact' item-start></ion-icon>
        </ion-avatar>
        <h3><b>Coordinador/a:</b> {{coordinadoraActual.coordinador}}</h3>
        <p><b>Días y horarios:</b> {{coordinadoraActual.horario}}/p>
        <p><b>Ubicación:</b> {{coordinadoraActual.ubicacion}}</p>
        <p>
          <button ion-button (click)='openFacebookEurhes()' color="primary">Facebook EURHES</button>
        </p>
      </ion-item>
    </div>
  </ion-card>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--falta ver como se redirige a facebook a twitter a gmail y a instagram!! -->
    <ion-row>
      <ion-col class="socialnet-padding" col-2>
        <button ion-fab browse-to="https://www.facebook.com/RemediarUNLP/">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-fab browse-to="https://twitter.com/RemediarUNLP">
          <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-fab browse-to="https://www.instagram.com/remediarUNLP/">
          <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-fab browse-to="mailto:remediarcienciasmedicas@gmail.com">
          <ion-icon  ios="ios-mail" md="md-mail"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
