@import "theme/variables";

page-carrera {

  .title-page {
    padding-left: 2% !important;
    div {
      font-size: 1.5em !important;
    }
  }

  .carrer-title {
    color: map-get($colors, primary);
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
  }

  .button-list {
    div {
      font-size: 1.05em !important;
    }
    ion-label {
      font-size: 1.05em !important;
      font-weight: bold;
    }
    ion-icon {
      font-size: 3.5rem;
    }
    button {
      color: map-get($colors, primary);
    }
  }

  .label-coordinadora {
    font-weight: bold;
    font-size: 1.05em;
  }

  .div-coordinadora {
    label, ion-icon, h3,p {
      color: map-get($colors, primary);
    }
    ion-icon {
      font-size: 3.5rem;
    }
    ion-item {
      padding-left: 0px;
    }

  }

}
