@import "theme/variables";

page-welcome {

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 3.8rem;
    margin-left: 35px;
    margin-right: 35px;
    .br-title {
      font-size: 0em;
    }
    .text-span {
      color: map-get($colors, primary);
      font-size: 1em;
    }
    .title-span {
      color: map-get($colors, primary);
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .slide-image {
    margin-top: 15%;
    max-height: 30%;
    margin-bottom: 10%;
  }

  .eurhes-img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .logo-img {
    margin-top: 30%;
    margin-bottom: 15%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .medicina-img {
    width: 40%;
    height: 25%;
    margin-left: 30%;
    margin-right: 30%;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
