page-bienestar {

  .bienstar-fondo {
    background-image: url(../assets/img/remediar.png);
  }

  ion-header {
    ion-title {
      padding-left: 0%;
    }
  }

  .bienestar-list {

    ion-item {
      margin-bottom: 3%
    }

    a {
      text-decoration: none;
    }
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
    p {
      overflow: visible;
    }
    ion-note {
      font-size: .7em;
    }
  }

}
